

<!DOCTYPE html>
<html>

<head>
    <title>404 - Page not found</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>Page not found</h3>
    </div>


    {{>footer}}
</body>

</html>